.add-list {
    .todo__list {
        color: #767676;
        img { opacity: .4; }
        &:hover { color: #000; img { opacity: 1; } }
        &__item {
            &:hover {
                background-color: #e6e6e6;
                box-shadow: none;
                transition: all 0s;
            }
        }
    }

    &__popup {
        position: relative;
        width: 240px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 0px 10px #aaa;
        border-radius: 10px;
        margin-top: -25px;
        margin-left: 15px;

        &-close-btn {
            position: absolute;
            width: 20px;
            right: -8px;
            top: -8px;
            cursor: pointer;
        }

        input { 
            width: 100%;
            margin-bottom: 12px;
        }
        
        .menu-circle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 12px;

            .circle { 
                width: 20px; 
                height: 20px; 
                cursor: pointer;

                &.active {
                    border: 2px solid #525252;
                    box-sizing: border-box;
                }
            }
        }

        button {
            width: 100%;
        }
    }
}