#modal-window {
    position: absolute;
    top: 0;
    margin-top: -100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
    z-index: 1000;
    opacity: 1;
    
    .modal-window__form {
        padding: 30px;
        width: 30%;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 20px 1px #333;
        
        &_title {
            font-size: 16px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            opacity: .6;
            border-bottom: 2px solid #ccc;
            box-sizing: border-box;
        }

        &_btns {
            display: flex;
            justify-content: flex-end;
        }

        button {
            padding: 8px 12px;
            &:first-child { margin-right: 20px; }
        }
        
        input { 
            width: 100%;
            margin-bottom: 20px;
        }


        .reset-btn {
            background-color: #ccc;
            color: #666;

            &:hover {
                background-color: darken(#ccc, 10%);
            }
            &:active {
                background-color: darken(#ccc, 20%);
            }
        }
    }
}