* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.todo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

button {
    color: #FFF;
    padding: 10px 0;
    background-color: #4DD599;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    
    &:hover {
        background-color: darken(#4DD599, 10%);
    }
    &:active {
        background-color: darken(#4DD599, 20%);
    }
}

input { 
    background-color: #fff;
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 12px;

    &::placeholder { color: #C7C7C7; }

    &:focus { 
        border-color: #4DD599;
        &::placeholder { color: #fff; }
    }
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &--grey {
        background-color: #C9D1D3;
        color: #C9D1D3;
    }

    &--green {
        background-color: #42B883;
        color: #42B883;
    }

    &--blue {
        background-color: #64C4ED;
        color: #64C4ED;
    }

    &--pink {
        background-color: #FFBBCC;
        color: #FFBBCC;
    }

    &--lime {
        background-color: #B6E6BD;
        color: #B6E6BD;
    }

    &--purple {
        background-color: #C355F5;
        color: #C355F5;
    }

    &--black {
        background-color: #110133;
        color: #110133;
    }

    &--red {
        background-color: #FF6464;
        color: #FF6464;
    }
}