.todo__sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #e6e6e6;
    border-right: 1px solid #cecece;
    padding: 60px 30px;
}

.todo__list {
    $self: &;
    margin-bottom: 30px;

    &__item {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover .remove-btn {
            opacity: .2;
        }

        &:hover {
            background-color: rgba(#fff, .5);
            border-radius: 5px;
            transition: background-color .15s ease-in-out,
                        border-color .15s ease-in-out;
        }
        
        &.active {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(148, 148, 148, 0.3);
            border-radius: 5px;
        }

        &-text {
            flex: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }
        .circle {
            margin-right: 15px;
            margin-left: 5px;
        }

        img {
            width: 20px;
            margin-right: 10px;
            opacity: .6;
        }
        
        .remove-btn {
            width: 12px;
            padding: 2px;
            opacity: 0;
            margin-right: 0;
        }

        .remove-btn:hover {
            opacity: 1;
        }
    }
}