.todo__tasks {
    flex: 1;
    padding: 60px;
    margin-left: 360px;

    .none-tasks {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #C9D1D3;
    }
    
    .tasks {
        margin-bottom: 100px;
        
        &:last-child {
            padding-bottom: 100px;
        }
        
        &__title {
            background-color: #fff;
            font-weight: bold;
            font-size: 32px;
            line-height: 39px;
            padding-bottom: 20px;
            border-bottom: 1px solid #cecece;
            margin-bottom: 30px;

            span {
                cursor: default;

                &:hover {
                    .edit-btn {
                        opacity: .1;
                    }
                }
                
                .edit-btn {
                    width: 15px;
                    margin-left: 15px;
                    opacity: 0;
                    cursor: pointer;
        
                    &:hover { opacity: 1; }
                }
            }    
        }

        &__menu {
            &__item {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                cursor: pointer;

                .remove-btn {
                    width: 12px;
                    padding: 2px;
                    opacity: 0;
                }
                .edit-btn {
                    width: 12px;
                    opacity: 0;
                    margin-right: 10px;
                }
        
                .remove-btn:hover {
                    opacity: 1;
                }
        
                .edit-btn:hover {
                    opacity: 1;
                }

                &:hover {
                    background-color: rgba(200, 200, 200, .18);
                    box-shadow: 0 0 5px 10px rgba(200, 200, 200, .18);
                    border-radius: 10px;
                    img { opacity: .2; }
                }
                &:active {
                    background-color: darken( rgba(200, 200, 200, .18), 20%);
                    box-shadow: 0 0 5px 10px darken( rgba(200, 200, 200, .18), 20%);                   
                }

                &-row {
                    display: flex;
                    align-items: center;
                    flex: 1;

                    &:hover {
                        label img {
                            opacity: .2; 
                            filter: brightness(0%);
                        }
                    }

                    input { display: none; }
                    label { cursor: pointer; }
                    
                    .checkbox {
                        width: 20px;
                        height: 20px;
                        border: 2px solid #E8E8E8;
                        border-radius: 50%;
                        box-sizing: border-box;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 15px;
                        transition: background-color .15s ease-in-out,
                                    border-color .15s ease-in-out;
                        
                        img {
                            width: 12px;
                            height: 12px;
                            opacity: 0;
                            
                        }

                    }

                    input:checked + .checkbox {
                        background: #4DD599;
                        border-color: #4DD599;
                    } 
                    input:checked + .checkbox img {
                        opacity: 1;
                        filter: brightness(100%);
                    }
                }

                &-text {
                    flex: 1;
                }
            }
        }

        &__form {
            &-new {
                display: flex;
                align-items: center;
                opacity: .2;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }

                img {
                    margin-left: 2px;
                    margin-right: 18px;
                }
            }

            &-open {
                display: flex;
                flex-direction: column;
            
                input { 
                    width: 100%;
                    margin-bottom: 15px;
                }

                &-btns {
                    width: 100%;
                    display: flex;
                    
                    button {
                        width: 30%;
                        margin-right: 20px;
                    }

                    .reset-btn {
                        width: 18%;
                        background: #F4F6F8;
                        color: #9C9C9C;

                        &:hover {
                            background-color: darken(#F4F6F8, 10%);
                        }
                        &:active {
                            background-color: darken(#F4F6F8, 20%);
                        }
                    }
                }
            }
        }
    }
}